[user]
    name = Daniel Drozdov
    email = daniel.drozdov@tigereye.com 

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[pull]
    rebase = false

[help]
    autocorrect = 1