[user]
    name = Daniel Drozdov
    email = daniel.drozdov@tigereye.com 

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[pull]
    rebase = false

[help]
    autocorrect = 1
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
